body {
  margin: 0;
  overflow: hidden;
}

/* Style page content */

#checkboxes{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(255, 255, 255, 0.37); /* Black */
    
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 5px;
  
}

#container {
  object-fit: contain;
 
}
#container video {
  position: fixed;
  left: 0;
  top: 0;
  object-fit:none;
 
}
#container canvas {
  position: fixed;
  left: 0;
  top: 0;
}
canvas{
  position: fixed;
  left: 0;
  top: 0;
}
/*#container canvas {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}*/


#output {
  position: fixed;
  left: 0;
  top: 0;  
}

button {
  position: fixed;
  margin-left: 10px;
  margin-top: 10px;
}

p {
  margin-left: 10vw;
  color: green;
}
