body {
  margin: 0;
}

#container{
}
#container video {
  position: fixed;
  right: 0;
  bottom: 0;
  object-fit: none;
 
}
#container canvas {
  position: fixed;
  left: 0;
  top: 0;
}
img{
}
canvas{
  position: fixed;
  left: 0;
  top: 0;
}
/*#container canvas {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}*/


#output {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

button {
  position: fixed;
  margin-left: 10px;
  margin-top: 10px;
}

p {
  margin-left: 5vw;
  color: green;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
